################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
/.vs
*.v2
*.v1
/PlayerConnect/.vs/PlayerConnect/v17
/PlayerConnect/PlayerConnect/obj